<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg %n</pattern>
        </encoder>
    </appender>
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/test-logback.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/test-logback.%d{yyyy-MM-dd_HH}.log</fileNamePattern>
        </rollingPolicy>
        <encoder>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.farjuce.appreservas.controller.TaskController" level="TRACE">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="com.farjuce.appreservas.controller.CustomerController" level="TRACE">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="com.farjuce.appreservas.controller.EmployeeController" level="TRACE">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="com.farjuce.appreservas.controller.AppointmentController" level="TRACE">
        <appender-ref ref="FILE" />
    </logger>
    <logger name="com.farjuce.appreservas.controller.BranchController" level="TRACE">
        <appender-ref ref="FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>