name:  Continuous Integrations
on:
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Instalando javita
        uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
<<<<<<< Updated upstream
          java-version: '11'
=======
          java-version: '17'
>>>>>>> Stashed changes
      - name: Compilando mi proyecto
        uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
        with:
          arguments: build
<<<<<<< Updated upstream
=======
      - name: Ejecutando pruebas y Jacoco
        run: |
          ./gradlew test
          ./gradlew jacocoTestReport

      - name: Guardando Reporte de Jacoco
        uses: actions/upload-artifact@v2
        with:
          name: jacoco-report
          path: build/reports/jacoco/test/html

      - name: Ejecutar pruebas con Pitest
        run: ./gradlew pitest

      - name: Publicar informe de Pitest como artefacto
        uses: actions/upload-artifact@v2
        with:
          name: pitest-report
          path: build/reports/pitest

>>>>>>> Stashed changes
